[Download Dataset](https://www.kaggle.com/kaggle/sf-salaries)

In [119]:
import pandas as pd

In [120]:
data = pd.read_csv('Salaries.csv')

### 1.Display Top 10 Rows of The Dataset

In [121]:
df=pd.DataFrame(data)
top=df.head(10)
print(top)

   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19
5  118602.00      8601.00  189082.74       NaN  316285.74         316285.74
6   92492.01     89062.90  134426.14       NaN  315981.05         315981.05
7  256576.96         0.00   51322.50       NaN  307899.46         307899.46
8  176932.64     86362.68   40132.23       NaN  303427.55         303427.55
9  285262.00         0.00   17115.73       NaN  302377.73         302377.73

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN
5  2011    NaN  San Francisco     NaN
6  2011    NaN  San Francisco     NaN
7  2011    NaN  San Francisco     NaN
8  2011    NaN  San Francisco     NaN
9  2011    NaN  San Francisco     NaN

### 2. Check Last 10 Rows of The Dataset

In [122]:
last=df.tail(10)
print(last)

            Id      EmployeeName                      JobTitle  BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant      0.0
148645  148646  Carolyn A Wilson     Human Services Technician      0.0
148646  148647      Not provided                  Not provided      NaN
148647  148648    Joann Anderson   Communications Dispatcher 2      0.0
148648  148649       Leon Walker                     Custodian      0.0
148649  148650     Roy I Tillery                     Custodian      0.0
148650  148651      Not provided                  Not provided      NaN
148651  148652      Not provided                  Not provided      NaN
148652  148653      Not provided                  Not provided      NaN
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch      0.0

        OvertimePay  OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  \
148644          0.0      0.00       0.0      0.00              0.00  2014
148645          0.0      0.00       0.0      0.00              0.00  2014
148646          NaN       NaN       NaN      0.00              0.00  2014
148647          0.0      0.00       0.0      0.00              0.00  2014
148648          0.0      0.00       0.0      0.00              0.00  2014
148649          0.0      0.00       0.0      0.00              0.00  2014
148650          NaN       NaN       NaN      0.00              0.00  2014
148651          NaN       NaN       NaN      0.00              0.00  2014
148652          NaN       NaN       NaN      0.00              0.00  2014
148653          0.0   -618.13       0.0   -618.13           -618.13  2014

        Notes         Agency  Status
148644    NaN  San Francisco     NaN
148645    NaN  San Francisco     NaN
148646    NaN  San Francisco     NaN
148647    NaN  San Francisco     NaN
148648    NaN  San Francisco     NaN
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [123]:
df.shape

(148654, 13)

In [124]:
print(f'No of rows : {df.shape[0]} \nNo of columns : {df.shape[1]}')

No of rows : 148654
No of columns : 13

### 4. Getting Information About Our Dataset Like Total Number Rows, 
### Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

### 5.Check Null Values In The Dataset

In [126]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

### 6. Drop ID, Notes, Agency and Status Columns

In [127]:
df.drop(columns=['Id','Notes','Agency','Status'], inplace=True)

In [128]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
dtypes: float64(6), int64(1), object(2)
memory usage: 10.2+ MB
None

### 7. Get Overall Statistics About The Dataframe

In [129]:
stats=df.describe()
print(stats)

             BasePay    OvertimePay       OtherPay       Benefits  \
count  148045.000000  148650.000000  148650.000000  112491.000000
mean    66325.448840    5066.059886    3648.767297   25007.893151
std     42764.635495   11454.380559    8056.601866   15402.215858
min      -166.010000      -0.010000   -7058.590000     -33.890000
25%     33588.200000       0.000000       0.000000   11535.395000
50%     65007.450000       0.000000     811.270000   28628.620000
75%     94691.050000    4658.175000    4236.065000   35566.855000
max    319275.010000  245131.880000  400184.250000   96570.660000

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

### 8. Find Occurrence of The Employee Names  (Top 5)

In [130]:
occ=df['EmployeeName'].value_counts()

In [131]:
print(occ.head(5))

EmployeeName
Kevin Lee       13
William Wong    11
Richard Lee     11
Steven Lee      11
John Chan        9
Name: count, dtype: int64

### 9. Find The Number of Unique Job Titles

In [132]:
jt=df['JobTitle'].unique()

In [133]:
print(jt)

['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'
 'CAPTAIN III (POLICE DEPARTMENT)' 'WIRE ROPE CABLE MAINTENANCE MECHANIC'
 ... 'Conversion' 'Cashier 3' 'Not provided']

### 10. Total Number of Job Titles Contain Captain

In [134]:
c_jt=df[df['JobTitle'].str.contains('Captain',case=False)]

In [135]:
print(c_jt)

              EmployeeName                               JobTitle    BasePay  \
1             GARY JIMENEZ        CAPTAIN III (POLICE DEPARTMENT)  155966.02
2           ALBERT PARDINI        CAPTAIN III (POLICE DEPARTMENT)  212739.13
11        PATRICIA JACKSON        CAPTAIN III (POLICE DEPARTMENT)   99722.00
17          SEBASTIAN WONG  CAPTAIN, EMERGENCYCY MEDICAL SERVICES  140546.87
22           GEORGE GARCIA              CAPTAIN, FIRE SUPPRESSION  140546.88
...                    ...                                    ...        ...
116604   Gregory L Stewart              Captain, Fire Suppression   73355.21
120867     Michael J Moran                              Captain 3    7660.00
122361  Michael V Rolovich              Captain, Fire Suppression       0.00
126588    Stephen M Tittel                              Captain 3   68491.89
132232     Jeanne M Seyler              Captain, Fire Suppression   61039.43

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
11         87082.62  110804.30       NaN  297608.92         297608.92  2011
17        119397.26   18625.08       NaN  278569.21         278569.21  2011
22         93200.58   39955.25       NaN  273702.71         273702.71  2011
...             ...        ...       ...        ...               ...   ...
116604     18517.18   49917.73  25608.77  141790.12         167398.89  2014
120867      1496.09  126560.36   2189.51  135716.45         137905.96  2014
122361         0.00  130320.75      0.00  130320.75         130320.75  2014
126588         0.00   23721.91  19020.79   92213.80         111234.59  2014
132232      2285.30    7548.29  20113.76   70873.02          90986.78  2014

[552 rows x 9 columns]

In [136]:
print(c_jt.shape[0])

552

### 11. Display All the Employee Names From Fire Department

In [137]:
fire=df[df['JobTitle'].str.contains('FIRE DEPARTMENT',case=False)]

In [138]:
print(fire['EmployeeName'])

4              PATRICK GARDNER
6                    ALSON LEE
8               MICHAEL MORRIS
9           JOANNE HAYES-WHITE
10               ARTHUR KENNEY
                  ...
32623             JAMES BARDEN
36162       Joanne Hayes-White
72926     Joanne M Hayes-White
102303          Robert E Evans
110535    Joanne M Hayes-White
Name: EmployeeName, Length: 226, dtype: object

### 12. Find Minimum, Maximum and Average BasePay

In [139]:
minP=df['BasePay'].min()
maxP=df['BasePay'].max()
avgP=df['BasePay'].mean()

In [140]:
print(minP,maxP,avgP)

-166.01 319275.01 66325.4488404877

### 13. Replace 'Not Provided' in EmployeeName' Column to NaN

In [141]:
fill=df['EmployeeName'].fillna('Not Provided')

In [142]:
print(fill)

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

### 14. Drop The Rows Having 5 Missing Values

In [143]:
drow=df.dropna(inplace=True)

In [144]:
print(drow)

None

In [145]:
print(df)

              EmployeeName                      JobTitle    BasePay  \
36159       Gary Altenberg  Lieutenant, Fire Suppression  128808.87
36160         Gregory Suhr               Chief of Police  302578.00
36161           Khoa Trinh   Electronic Maintenance Tech  111921.00
36162   Joanne Hayes-White        Chief, Fire Department  296943.01
36163    Frederick Binkley     EMT/Paramedic/Firefighter  126863.19
...                    ...                           ...        ...
148645    Carolyn A Wilson     Human Services Technician       0.00
148647      Joann Anderson   Communications Dispatcher 2       0.00
148648         Leon Walker                     Custodian       0.00
148649       Roy I Tillery                     Custodian       0.00
148653           Joe Lopez    Counselor, Log Cabin Ranch       0.00

        OvertimePay  OtherPay  Benefits   TotalPay  TotalPayBenefits  Year
36159     220909.48  13126.31  44430.12  362844.66         407274.78  2012
36160          0.00  18974.11  69810.19  321552.11         391362.30  2012
36161     146415.32  78057.41  53102.29  336393.73         389496.02  2012
36162          0.00  17816.59  72047.88  314759.60         386807.48  2012
36163     192424.49  17917.18  44438.25  337204.86         381643.11  2012
...             ...       ...       ...        ...               ...   ...
148645         0.00      0.00      0.00       0.00              0.00  2014
148647         0.00      0.00      0.00       0.00              0.00  2014
148648         0.00      0.00      0.00       0.00              0.00  2014
148649         0.00      0.00      0.00       0.00              0.00  2014
148653         0.00   -618.13      0.00    -618.13           -618.13  2014

[111886 rows x 9 columns]

### 15. Find Job Title of ALBERT PARDINI

In [146]:
title=df[df['EmployeeName'].str.contains('ALBERT PARDINI',case=False)]

In [147]:
print(title[['EmployeeName','JobTitle']])

         EmployeeName   JobTitle
36519  Albert Pardini  Captain 3

### 16. How Much ALBERT PARDINI Make (Include Benefits) ?

In [148]:
print(title)

         EmployeeName   JobTitle    BasePay  OvertimePay  OtherPay  Benefits  \
36519  Albert Pardini  Captain 3  196265.04          0.0  11404.04  46326.21

        TotalPay  TotalPayBenefits  Year
36519  207669.08         253995.29  2012

### 17. Display Name of The Person Having The Highest BasePay

In [149]:
high=df.loc[df['BasePay'].idxmax()]

In [150]:
print(high[['EmployeeName','TotalPay']])

EmployeeName    Gregory P Suhr
TotalPay             339282.07
Name: 72925, dtype: object

### 18. Find Average BasePay of All Employee Per Year

In [151]:
avgpay=df.groupby('Year')['BasePay'].mean()

In [152]:
print(avgpay)

Year
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

### 19. Find Average BasePay of All Employee Per JobTitle

In [153]:
avgpay1=df.groupby('JobTitle')['BasePay'].mean()

In [154]:
print(avgpay1)

JobTitle
ACPO,JuvP, Juv Prob (SFERS)       62290.780000
ASR Senior Office Specialist      60551.580167
ASR-Office Assistant              41253.471951
Account Clerk                     42372.579396
Accountant I                      61777.832500
                                      ...
Wire Rope Cable Maint Sprv        92751.746667
Worker's Comp Supervisor 1        68867.296429
Worker's Compensation Adjuster    72363.278784
X-Ray Laboratory Aide             46086.387100
Youth Comm Advisor                39077.957500
Name: BasePay, Length: 1109, dtype: float64

### 20. Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [155]:
new=df[df['JobTitle'].str.contains('ACCOUNTANT',case=False)]
avgpay2=new.groupby('JobTitle')['BasePay'].mean()

In [156]:
print(avgpay2)

JobTitle
Accountant I         61777.832500
Accountant II        66880.084425
Accountant III       78940.945000
Accountant IV        92423.801111
Accountant Intern    43713.649500
Name: BasePay, dtype: float64

### 21. Find Top 5 Most Common Jobs

In [157]:
job=df['JobTitle'].value_counts()

In [158]:
print(job.head(5))

JobTitle
Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: count, dtype: int64